.text {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
