.searchBox {
  text-align: center;
  background-color: aqua;
  border: 1px solid #181818;
  border-radius: 3px;
  max-width: 290px;
  margin-top: 40px;
}

.searchBox input {
  font-size: 16px;
  height: 28px;
  width: 100%;
  padding-left: 4px;
  border: 1px solid #181818;
  border-radius: 3px;
  margin-top: 4px;
}
