.form {
  width: 300px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aqua;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup select {
  padding: 4px;
}

.error {
  font-size: 12px;
  color: red;
}

.label {
  margin-bottom: 5px;
}
.button {
  padding: 7px 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  background-color: coral;
}
.buttonReg {
  width: 90%;
  padding: 7px 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  background-color: coral;
}
.button:hover {
  background-color: rgb(154, 197, 231);
}

.buttonReg:hover {
  background-color: rgb(154, 197, 231);
}
.input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.link {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}
