* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color: #181818;
  background-color: aquamarine;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #5393f2;
}

body {
  margin: 0;
}

h1 {
  color: coral;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10%;
  display: block;
}

button:hover {
  background-color: aqua;
}
