.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
  margin: 0 auto;
}
.button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  background-color: coral;
}
.button:hover {
  background-color: rgb(154, 197, 231);
}
